@import url('http://fonts.googleapis.com/css?family=Lato');

body, html {
    height: 100%;
    margin: 0;
    font: 1em Lato, sans-serif;
}

.content {
    min-height: 100%;
}

.content-inside {
    padding: 20px;
    padding-bottom: 50px;
}

#main {
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
}

.gradient {
    position: relative;
    height: 6em;
    background-color: red;
    background-image:
      linear-gradient(red, #f06d06);
}


.parallax { 
    /* The image used */
    background-image: url("./jakub-kapusnak-319767.jpg");
  

    /* Full height */
    height: 100%; 
   

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    
    padding-top: 1em;
    text-align: center;
    color: #F7F8F5;
    margin-top: 0px; 
}

p {
    font-size: 18px;
}

#gradient2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(#f06d06));
    background-image: -webkit-linear-gradient(top, red, #f06d06);
    background-image: -moz-linear-gradient(top, red, #f06d06);
    background-image: linear-gradient(to bottom, red, #f06d06);
    margin: 0;
    color: white;
    height: 50px;
    margin-top: -50px;
}

/*#gradient2 {
    width: 100%;
    bottom: 50px;
    color: white;
    background-color: red;
    margin: 0;
    float: right;
    position: right;
}*/

ul {
    list-style: none;
    margin-right: 40px;
}

footer > h4 {
    margin: 0;
}

footer > ul {
    margin: 0;
}

footer > ul > li {
    display: inline-block;
}

nav[data-behavior="horizontal"] {
    position: absolute;
    bottom: 0;
}

nav[data-behavior="horizontal"] ul > li {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 15px;
}

nav[data-behavior="horizontal"] ul > li > a {
    text-decoration: none;
    font-weight: bold;
    color: #fff; 
}

nav[data-behavior="horizontal"] ul > li > a:hover {
    text-decoration: underline;
}


/*Photo by Jakub Kapusnak on Unsplash  */
