@import url('http://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
  }

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font: 1em Lato, sans-serif;
}
/* 
html {
    height: 100%;
} */

/*body {
    background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/nasty_fabric.png);
   /* margin: .5em;  ? 
    font: 1em "Lato", sans-serif;
  }
  */

.content {
      display: inline-block;
      background-color: white;
      height: 100%;
}

.a1, .a2 {
    display: inline-block;
    padding: 0.5em 0.75em;
    width: 50%;
    float: left;
}

h2, .om_oss {
    float: left;
}

/*.content-inside {
    padding: 20px;
    padding-bottom: 50px;
}*/

/*#main {
    width: 100%;
}*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from red), to(#f06d06);
    background-image: -webkit-linear-gradient(top, red,#f06d06);
    background-image: -moz-linear-gradient(top, red, #f06d06);
    background-image: linear-gradient(to bottom, red, #f06d06);
   /*padding-bottom: 15px;*/
    margin: 0em;
}

/*.gradient {

}*/

/*
.gradient {
    position: relative;
    height: 6em;
    background-color: red;
    background-image:
      linear-gradient(red, #f06d06);
    width: 100%; 
    height: 18%; 
}
*/

.parallax { 
    /* The image used */
    background-image: url("./demi-deherrera-84871.jpg");
  

    /* Full height */
    height: 100%; 
   

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    
    padding-top: 1em;
    text-align: center;
    color: #F7F8F5;
    margin-top: 0px; 
    height: 100%;
    width: 100%;
}

p {
    float: left;
    width: 100%;
    font-size: 18px;
}

/*.content {
    float: right;
    width: 50%;
    margin: 20px;
}*/

.om_oss {
    
    width: 80%;
}

iframe {
    float: left;
    width: 100%;
}

footer {
    background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(#f06d06));
    background-image: -webkit-linear-gradient(top, red, #f06d06);
    background-image: -moz-linear-gradient(top, red, #f06d06);
    background-image: linear-gradient(to bottom, red, #f06d06);
    margin: 0;
    color: white;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#kontakt {
    display: inline;
}

footer > h4 {
    margin: 0;
    position: relative;
    bottom: 5px;
}

footer > ul {
    width: 90%;
    height: 100%;
    margin: 0;
}

footer > ul > li {
    display: inline-block;
    padding: 10px;
}
 
#unsplash-anchor {
    position: sticky;
    float: right;
    margin-right: 5px;    
}

nav[data-behavior="horizontal"] {
    width: 100%;
  }
  nav[data-behavior="horizontal"] ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav[data-behavior="horizontal"] ul > li {
    position: relative;
    float: left;
    padding: .25em 1em; 
    margin: 1.25em 1em;
    text-transform: uppercase;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: .75em;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    transition-property: background, color, padding, border-radius;
   /*box-shadow: 0.1em -0.1em 0 0.1em rgba(0, 0, 0, 0.2), inset 0 0 0 0.15em rgba(0, 0, 0, 0.4), -0.1em 0.1em 0 0.1em rgba(0, 0, 0, 0.2); No shadow */
  }
  nav[data-behavior="horizontal"] ul > li:after {
    position: absolute;
    z-index: -1;
    content: "";
    right: 0;
    border-radius: 50%;
    /*box-shadow: 1em 1em 0 2em rgba(255, 255, 255, 0.5); No shadow*/
  }
  nav[data-behavior="horizontal"] ul > li:last-child:after {
    box-shadow: none;
  }
  nav[data-behavior="horizontal"] ul > li:hover {
    background-color: rgba(251, 93, 0, 0.8);
    padding-left: 3em;
  }
  nav[data-behavior="horizontal"] ul > li:hover > a {
    color: #fff;
  }
  nav[data-behavior="horizontal"] ul > li > a {
    color: rgba(251, 93, 0, 0.8);
    text-decoration: none;
    font-size: 1.4em;
    transition: color .3s ease-in-out;
  }
  
  a {
      padding: 5px;
  }
/* äldre meny:
nav[data-behavior="horizontal"] {
    position: absolute;
    bottom: 0;
    top: 45px;
}

nav[data-behavior="horizontal"] ul > li {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 15px;
}

nav[data-behavior="horizontal"] ul > li > a {
    text-decoration: none;
    font-weight: bold;
    color: #fff; 
}

nav[data-behavior="horizontal"] ul > li > a:hover {
    text-decoration: underline;
}*/
@media only screen and (min-width: 25em) {
    
      html {
        font-size: 100%;
        line-height: 1.3;
      }
    
      h1,
      p {
        margin: 0 0 1.3rem;
      }

      nav[role="full-horizontal"] ul {
        padding: 0 .5em;
      }
      nav[role="full-horizontal"] ul > li {
        width: 100%;
        padding: .45em .25em;
        margin: 0 0 .55em 0;
      }
      nav[role="full-horizontal"] ul > li:after {
        box-shadow: none;
      }
  
      .a1, a2 {
          width: 50%;
      }
  
      iframe {
          width: 70%;
      }
  
      #unsplash-anchor {
          position: initial;
      }
      /*övre menyn två rader*/
    /*meny i två rader*/
    }

@media screen and (max-width: 44em) {
    html {
        font-size: 100%;
        line-height: 1.3;
      }
    
    body {
      margin: 1.5em 0;
    }

    h1,
    p {
      margin: 0 0 1.3rem;
    }
  
    nav[role="full-horizontal"] ul {
      padding: 0 .5em;
    }
    nav[role="full-horizontal"] ul > li {
      width: 100%;
      padding: .45em .25em;
      margin: 0 0 .55em 0;
    }
    nav[role="full-horizontal"] ul > li:after {
      box-shadow: none;
    }

    .a1, a2 {
        width: 50%;
    }

    iframe {
        width: 50%;
    }

    #unsplash-anchor {
        position: initial;
        float: none;
    }
/*menyn i två rader*/
  }

  @media only screen and (min-width: 60em) {
    
      html {
        font-size: 120%;
        line-height: 1.5;
      }
    
      h1,
      p {
        margin: 0 0 1.5rem;
      }
    
    }

     

  /*-----------------------------------------------------------------------------------
  meny - kolla igenom igen
  -------------------------------------------------------------------------------------
  */

/*Photo by demi-deherrera  on Unsplash  */
/*
@import url(https://fonts.googleapis.com/css?family=Cantora+One);
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;/*la till width på egen
  height: 100%;
}

body {
  background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/nasty_fabric.png);
  margin: .5em;
  font: 1em "Lato", sans-serif;
}

nav[role="full-horizontal"] {
  width: 100%;
}
nav[role="full-horizontal"] ul {
  width: 100%;
  list-style: none;
}
nav[role="full-horizontal"] ul > li {
  position: relative;
  float: left;
  padding: .25em 1em;
  margin: 1.25em 1em;
  text-transform: uppercase;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-radius: .75em;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-property: background, color, padding, border-radius;
 /*box-shadow: 0.1em -0.1em 0 0.1em rgba(0, 0, 0, 0.2), inset 0 0 0 0.15em rgba(0, 0, 0, 0.4), -0.1em 0.1em 0 0.1em rgba(0, 0, 0, 0.2);
}
nav[role="full-horizontal"] ul > li:after {
  position: absolute;
  z-index: -1;
  content: "";
  right: 0;
  border-radius: 50%;
  box-shadow: 1em 1em 0 2em rgba(255, 255, 255, 0.5);
}
nav[role="full-horizontal"] ul > li:last-child:after {
  box-shadow: none;
}
nav[role="full-horizontal"] ul > li:hover {
  background-color: rgba(251, 93, 0, 0.8);
  padding-left: 3em;
}
nav[role="full-horizontal"] ul > li:hover > a {
  color: #fff;
}
nav[role="full-horizontal"] ul > li > a {
  color: #333;
  text-decoration: none;
  font-size: 1.4em;
  transition: color .3s ease-in-out;
}*/

/* small screens */
